openapi: 3.0.0
servers:
  - url: https://api.lulu.com
    description: Production server, uses live data
  - url: https://api.sandbox.lulu.com
    description: Sandbox server, uses test data
info:
  description: |
    # 📢 POD Package Migration Notice
    **Lulu is transitioning to a "Dotted" POD Package ID format to support higher precision and product flexibility.**

    ### 🗓️ Key Dates:
    * **March 31, 2026:** Dotted format goes LIVE. The API is backward compatible, and will support the non-Dotted format. 
    * **February 1, 2027:** Legacy, non-Dotted 27-character format support ends.

    ### 📘 The New Dotted Format
    The `pod_package_id` is now a modular string:
    `[Trim].[Ink].[Quality].[Binding].[Paper].[Finish]`

    *Example:* `0500X0800FCPRESS060UW444GXX` will become `0500X0800.FC.PRE.SS.060UW444.GXX`
    
    # Getting Started
    The Lulu Print API allows you to use [Lulu](https://www.lulu.com/) as your production and fulfillment network. The API provides access to the same functionality that Lulu uses internally to normalize files and send Print-Jobs to our production partners around the world.

    The Lulu Print API is a **RESTful API** that communicates with JSON encoded messages. Communication is secured with **OpenID Connect** and **transport layer security** (HTTPS).

    Working with the API requires intermediate level programming skills and a general understanding of web APIs. Check out Lulu's **[printing and fulfillment](https://www.lulu.com/sell)** options without having to do technical work upfront.

    ## Registration
    You have to create an account to start using the Lulu Print API. Your account will automatically receive a client-key and a client-secret.

    ## Sandbox Environment
    The API is available in a production and a sandbox environment. The sandbox can be used for development and testing purposes. Print-Jobs created on the sandbox will never be forwarded to a real production and can be paid for with test credit cards.

    To access the sandbox, you have to create a separate account at [https://developers.sandbox.lulu.com/](https://developers.sandbox.lulu.com/).

    The sandbox API endpoint URL is `https://api.sandbox.lulu.com/`.

    ## Authorization
    The Lulu API uses [OpenID Connect](https://en.wikipedia.org/wiki/OpenID_Connect), an authentication layer built on top of [OAuth 2.0](https://en.wikipedia.org/wiki/OAuth). Instead of exchanging username and password, the API uses [JSON Web Token (JWT)](https://en.wikipedia.org/wiki/JSON_Web_Token) to authorize client requests.

    To interact with the API you need a **client-key** and a **client-secret**. Open the [Client Keys & Secret](https://developers.lulu.com/user-profile/api-keys) ([Sandbox](https://developers.sandbox.lulu.com/user-profile/api-keys)) page to generate them.

    <img src="https://api.lulu.com/api-docs/assets/keyAndSecretExample.png">

    ## Generate a Token
    To interact with the API you first have to generate an OAuth token. This requires the following parameters:
    * `client_key`
    * `client_secret`
    * `grant-type` must be set to `client_credentials`

    You have to send a POST request to the token endpoint a special Authorization header. For your convenience, you can copy the authorization string directly from your [API Keys](https://developers.lulu.com/user-profile/api-keys) page:

    ```bash
    curl -X POST https://api.lulu.com/auth/realms/glasstree/protocol/openid-connect/token \
      -d 'grant_type=client_credentials' \
      -H 'Content-Type: application/x-www-form-urlencoded' \
      -H 'Authorization: Basic ZjJjNDdmMTctOWMxZi00ZWZlLWIzYzEtMDI4YTNlZTRjM2M3OjMzOTViZGU4LTBkMjQtNGQ0Ny1hYTRjLWM4NGM3NjI0OGRiYw=='
    ```

    The request will return a JSON response that contains an `access_token` key:

    ```json
    {
        "access_token":"eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkI...",
        "expires_in":3600,
        "refresh_expires_in":604800,
        "refresh_token":"eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6...",
        "token_type":"bearer",
        "not-before-policy":0,
        "session_state":"a856fb91-eafc-460e-8f6a-f09325062c88"
    }
    ```

    Store this `access_token` and use it to authorize all further requests. The token will expire after a few minutes, but you can always request a fresh token from the server as outlined above. We recommend to use an OAuth capable client lib in your favorite programming language to simplify working with client credentials and tokens. Some might even automatically refresh your token after it expired.

    ## Make authenticated requests
    To authenticate subsequent API requests, you must provide a valid access token in the HTTP header of the request:
    `Authorization: Bearer {access_token}`:

    ```bash
    curl -X GET https://api.lulu.com/{some_api_endpoint}/ \
      -H 'Authorization: Bearer {access_token}' \
      -H 'Content-Type: application/json'
    ```

    ## Select a Product
    Lulu's Print API offers a wide range of products. Each product is represented by a collection of 6 core components, combined to generate a code called **pod_package_id**, which in turn is a unique identifying SKU for the final composition of the product you are printing.
    > Trim Size + Color + Print Quality + Bind + Paper/PPI + Cover Finish/Linen Color/Foil Color = **pod_package_id**

    Here are a few examples:

    | pod_package_id | Description |
    | --- | --- |
    | `0850X1100.BW.STD.LW.060UW444.MNG` | `0850X1100`: trim size 8.5” x 11”<br>`BW`: black-and-white<br>`STD`: standard quality <br>`LW`: linen wrap binding<br>`060UW444`: 60# uncoated white paper with a bulk of 444 pages per inch <br>`M`: matte cover coating <br>`N`: navy colored linen<br>`G`: golden foil stamping |
    | `0600X0900.FC.STD.PB.080CW444.GXX` | `0600X0900`: trim size 6” x 9” <br>`FC`: full color<br>`STD`: standard quality<br>`PB`: perfect binding<br>`080CW444`: 80# coated white paper with a bulk of 444 ppi<br>`G`: gloss cover coating<br>`X`: no linen<br>`X`: no foil|
    | `0700X1000.FC.PRE.CO.060UC444.MXX` | 7" x 10" black-and-white premium coil-bound book printed on 60# cream paper with a matte cover |
    | `0600X0900.BW.STD.PB.060UW444.MXX` | 6" x 9" black-and-white standard quality paperback book printed on 60# white paper with a matte cover |


    ### Advanced Product Information
    [**Book Creation Guide**](https://assets.lulu.com/media/guides/en/lulu-book-creation-guide.pdf) - Includes PDF specifications, spine guides, and formatting terms to help you print your books.

    [**Pricing Calculator**](https://developers.lulu.com/price-calculator) - Input product specifications to generate a price, POD Package ID, and download templates.
    
    [**Product Specification Sheet**](https://assets.lulu.com/media/specs/lulu-print-api-spec-sheet.xlsx) - Download for a full listing of Lulu POD Packages and product specifications.

    If you have general questions about which Lulu products are right for your business, please [contact one of our experts](https://help.api.lulu.com) through our Technical Support form.


    ## Validate files

    ### Validate interior file
    Print API allows you to validate your interior file without creating a Print-Job. Interior validation requires publicly exposed URL to download and validate a file.
    File validation is being done asynchronously, it may take a while, so to retrieve validation result, use GET endpoint.

    File validation result may return different statuses:
    * `NULL` - file validation is not started yet
    * `VALIDATING` - file validation is still running
    * `VALIDATED` - file validation finished without any errors
    * `NORMALIZING` - file normalization (next step of validation, available only if `pod_package_id` is was passed in the payload) is still running
    * `NORMALIZED` - file normalization finished without any errors
    * `ERROR` - file is invalid, list of errors is included in the response

    So there are 3 possible final statuses of validation:
    * `VALIDATED` - validation succeeded
    * `NORMALIZED` - validation succeeded, possible only if `pod_package_id` was added to the payload
    * `ERROR` - validation failed

    Example reasons of `ERROR` status:
    * invalid PDF file
    * not enough pages - at least 2 pages are required
    * different sizes of pages
    * fonts not embedded
    * corrupted images

    Applicable reasons should be included in `errors` field in the file validation response.

    You can find the detailed endpoints documentation in
    [interior validation section](#operation/Validate-Interior_create).

    ### Calculate cover dimensions
    You can also calculate required cover dimensions basing on interior data by using
    [cover dimensions](#operation/Cover-Dimensions_create) endpoint. This endpoint returns cover width and height
    in requested unit (print points by default).

    ### Validate cover file
    As it was possible with interior file, Print API also allows you to validate cover files. Just as interior
    validation, cover validation requires publicly exposed URL to download and validate a file. Other required
    attributes are POD package ID of your book and interior page count to correctly validate cover file.
    Also in this case, file validation is being done asynchronously, it may take a while, so to retrieve
    validation result, use GET endpoint.

    File validation result may return different statuses:
    * `NULL` - file validation is not started yet
    * `NORMALIZING` - file validation is still running
    * `NORMALIZED` - file validation finished without any errors
    * `ERROR` - file is invalid, list of errors is included in the response

    Example reasons of `ERROR` status:
    * invalid PDF file
    * invalid file size

    Applicable reasons should be included in `errors` field in the file validation response.

    You can find the detailed endpoints documentation in
    [cover validation section](#operation/Validate-Cover_create).

    ## Create a Print-Job
    Now you can start to create Print-Jobs. A Print-Job request consists of at least three data fields:

    * `line_items` **(required)**: the list of books that shall be printed
    * `shipping_address` **(required)**: the (end) customer’s address where Lulu should send the books - including a phone number.
    * `contact_email` **(required)**: an email address for questions regarding the Print-Job - normally, you want to use the email address of a developer or shop owner, not the end customer
    * `shipping_level`**(required)**: Lulu offers five different quality levels for shipping:
        * `MAIL` - Slowest ship method. Depending on the destination, tracking might not be available.
        * `PRIORITY_MAIL` - priority mail shipping
        * `GROUND` - Courier based shipping using ground transportation in the US.
        * `EXPEDITED` - expedited (2nd day) delivery via air mail or equivalent
        * `EXPRESS` - overnight delivery. Fastest shipping available.
    * `external_id` (optional): a reference number to link the Print-Job to your system (e.g. your order number)

    The **shipping address must contain a phone number**. This is required by our shipping carriers. If the shipping address does not contain a phone number, the default phone number from the account will be used.
    If neither the account nor the shipping address contain a phone number, the Print-Job can not be created.

    You can find the detailed documentation for [Creating a new Print-Job](#) below.

    ## Check Print-Job Status
    After sending a Print-Job, you can check its status. Normally, a Print-Job goes through the following stages:

    <img src="https://api.lulu.com/api-docs/assets/print-job-stages.svg">

    * **CREATED**: Print-Job created
    * **UNPAID**: Print-Job can be paid
    * **PAYMENT_IN_PROGRESS**: Payment is in Progress
    * **PRODUCTION_DELAYED**: Print-Job is paid and will move to production after the mandatory production delay.
    * **PRODUCTION_READY**: Production delay has ended and the Print-Job will move to "in production" shortly.
    * **IN_PRODUCTION**: Print-Job submitted to printer.
    * **SHIPPED**: Print-Job is fully shipped.
    * **DELIVERED**: Print-Job has been delivered by the carrier. This is supported by USPS, FedEx, and UPS.

    There are a few more status that can occur when there is a problem with the Print-Job:
    * **REJECTED**: When there is a problem with the input data or the file, Lulu will reject a Print-Job with a detailed error message. Please [contact our experts](https://help.api.lulu.com) if you need help in resolving this issue.
    * **CANCELED**: You can cancel a Print-Job as long as it is “unpaid” using an API request to the status endpoint. In rare cases, Lulu might also cancel a Print-Job if a problem has surfaced in production and the order cannot be fulfilled.

    ## Shipping Notification
    Once an order has been shipped, Lulu will provide tracking information in the Print-Job and Print-Job Status endpoint. Example shipped response:

    ```json
    {
      "name": "SHIPPED",
      "message": "All line-items were shipped",
      "changed": "2024-04-10T09:28:34.870842Z",
      "line_item_statuses": [
        {
          "name": "SHIPPED",
          "messages": {
            "tracking_id": "3d4a53da-cc42-44c2-b47b-c3da8fa37491_1",
            "tracking_urls": [
              "https://api.sandbox.lulu.com/printer-wannabe-tracking/3d4a53da-cc42-44c2-b47b-c3da8fa37491_1"
            ],
            "carrier_name": "Carrier"
          },
          "line_item_id": 57999
        }
      ],
      "print_job_id": 42776
    }
    ```

    ## Webhooks
    > **You can subscribe to receive webhooks on the following topics:**
    > * **PRINT_JOB_STATUS_CHANGED**

    To subscribe to webhooks, create a webhook configuration by calling <a href="#operation/subscribe-webhooks" target="_blank">this
    </a> endpoint. You have to select topics that you want to subscribe to and the URL where webhooks should be sent.
    You can create multiple webhooks, but the URL has to be unique for each of them.

    Once you created a webhook configuration, you can retrieve a <a href="#operation/retrieve-webhooks"
    target="_blank">list</a> of owned webhook or <a href="#operation/retrieve-webhook" target="_blank">
    single webhook</a> to check data:
    * id
    * topics
    * URL
    * is_active

    It can be <a href="#operation/update-webhook" target="_blank">updated</a>, for example, if you want to update the
    URL, list of subscribed topics or activate it after automatic deactivation.

    It can be also <a href="#operation/delete-webhook" target="_blank">deleted</a> - this operation cannot be undone.

    Once the webhook configuration is created, you should start receiving webhooks depending on topics that you are
    subscribed to. Each submission payload contains 2 fields:
    * topic
    * data - depends on the topic

    Each webhook submission has calculated HMAC - a request payload signed with webhook's owner API secret. HMAC is
    sent in `Lulu-HMAC-SHA256` header. HMAC is calculated with API secret as a key (UTF-8 encoded), payload as a
    message (UTF-8 encoded) and SHA-256 as hash function. To validate HMAC, it should be calculated using
    *raw response data* - parsing it to JSON can cause formatting issues.

    If a webhook submission fails for any reason (connection error, HTTP error, etc.), it is retried 5 times. After 5
    different failed submissions in a row, the webhook is deactivated (`is_active` field is set to `false`). It can be
    activated back by updating it. There is an option to test webhook submission by calling <a
    href="#operation/test-webhook-submission" target="_blank">test</a> endpoint. It sends dummy data of the selected
    topic to configured URL.

    All webhooks submissions can be retrieved by calling <a href="#operation/retrieve-webhook-submissions"
    target="_blank">this</a> endpoint. It returns all submissions created during the last 30 days.

    ### PRINT_JOB_STATUS_CHANGED topic
    PRINT_JOB_STATUS_CHANGED webhook is sent every time owned print job status is updated. The data sent in the payload
    is print job data, the same as returned by <a href="#operation/Print-Jobs_read" target="_blank">print job details
    </a> endpoint.
  title: Universal Publishing Platform API
  version: v1
  x-logo:
    url: https://api.lulu.com/api-docs/assets/logo-lulu-api.svg
    altText: LULU API logo
paths:
  /print-job-cost-calculations/:
    post:
      description: This endpoint allows you to calculate product and shipping cost without creating a Print-Job. Typically
        used in an offer or checkout situation. The address is required to calculate sales tax / VAT and shipping cost.
      operationId: Print-Job-cost-calculations_create
      requestBody:
        content:
          application/json:
            schema:
              description: A Print-Job Cost Calculation represents a price calculation for multiple print job line items
              properties:
                line_items:
                  description: The line items that should be calculated
                  items:
                    description: A Print-Job Cost Calculation Line Item represents a price calculation for a print job line
                      item
                    properties:
                      page_count:
                        description: The page count of the book
                        type: integer
                        writeOnly: true
                      pod_package_id:
                        description: The id of the PodPackage of the book
                        type: string
                        writeOnly: true
                      quantity:
                        description: The quantity of printables to base the calculations on
                        format: int32
                        type: number
                        writeOnly: true
                    required:
                      - quantity
                      - pod_package_id
                      - page_count
                    type: object
                  type: array
                  writeOnly: true
                shipping_address:
                  description: The shipping address for calculating Print-Job cost
                  properties:
                    city:
                      type: string
                    country_code:
                      description: '[ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) country code'
                      maxLength: 2
                      minLength: 2
                      type: string
                    email:
                      format: email
                      type: string
                    is_business:
                      default: false
                      description: Only relevant for US addresses. Some US carriers don't deliver to business-addresses on
                        Saturday.
                      type: boolean
                    name:
                      description: Full name of the person, including first and last name.
                      type: string
                    organization:
                      description: Name of an organization. Required if no person name is given.
                      type: string
                    phone_number:
                      description: "Validation Regex Pattern: `^\\+?[\\d\\s\\-.\\/()]{8,20}$`\n"
                      maxLength: 20
                      type: string
                    postcode:
                      description: Required for most countries
                      maxLength: 64
                      type: string
                    state_code:
                      description: 2 or 3 letter state codes (officially called [ISO-3166-2 subdivision codes](https://en.wikipedia.org/wiki/ISO_3166-2)).
                        They are required for some countries (e.g. US, MX, CA, AU)
                      type: string
                    street1:
                      description: First address line
                      type: string
                    street2:
                      description: Second address line
                      type: string
                    title:
                      enum:
                        - MR
                        - MISS
                        - MRS
                        - MS
                        - DR
                      type: string
                  required:
                    - street1
                    - city
                    - country_code
                    - postcode
                    - phone_number
                  type: object
                  writeOnly: true
                shipping_option:
                  description: The shipping option level
                  enum:
                    - MAIL
                    - PRIORITY_MAIL
                    - GROUND_HD
                    - GROUND_BUS
                    - GROUND
                    - EXPEDITED
                    - EXPRESS
                  type: string
                  writeOnly: true
              required:
                - shipping_option
                - shipping_address
                - line_items
              type: object
            examples:
              Shipping Express to Germany:
                value:
                  line_items:
                    - page_count: 32
                      pod_package_id: 0600X0900.BW.STD.PB.060UW444.MXX
                      quantity: 20
                    - page_count: 324
                      pod_package_id: 0425X0687.BW.STD.PB.060UW444.GXX
                      quantity: 200
                  shipping_address:
                    city: Lübeck
                    country_code: DE
                    postcode: '23552'
                    state_code:
                    street1: Holstenstr. 40
                    phone_number: 844-212-0689
                  shipping_option: EXPRESS
              Shipping Mail to United Kingdom:
                value:
                  line_items:
                    - page_count: 120
                      pod_package_id: 0827X1169.BW.PRE.LW.080CW444.MGG
                      quantity: 5
                  shipping_address:
                    city: Wetherby
                    country_code: GB
                    postcode: LS22 6LL
                    street1: Lucky Garden, 11, West Gate
                    phone_number: +44 113 496 0000
                  shipping_option: MAIL

      responses:
        201:
          content:
            application/json:
              schema:
                description: Summary of the costs of a Print-Job
                properties:
                  shipping_address:
                    description: The shipping address of the customer.
                    properties:
                      city:
                        type: string
                      country_code:
                        description: '[ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) country code'
                        maxLength: 2
                        minLength: 2
                        type: string
                      email:
                        format: email
                        type: string
                        description: "Shipping carriers require an email address for notifications or handling delivery issues.
                          If no email is given, the default email in the user profile will be used.\n"
                      is_business:
                        default: false
                        description: Only relevant for US addresses. Some US carriers don't deliver to business-addresses
                          on Saturday.
                        type: boolean
                      name:
                        description: Full name of the person, including first and last name.
                        type: string
                      organization:
                        description: Name of an organization. Required if no person name is given.
                        type: string
                      phone_number:
                        description: "Shipping carriers require a phone number for handling delivery issues. If no phone number
                          is given, the default in the API user profile will be used. Validation Regex Pattern for phone numbers
                          `^\\+?[\\d\\s\\-.\\/()]{8,20}$`\n"
                        maxLength: 20
                        type: string
                      postcode:
                        description: Required for most countries
                        maxLength: 64
                        type: string
                      state_code:
                        description: 2 or 3 letter state codes (officially called [ISO-3166-2 subdivision codes](https://en.wikipedia.org/wiki/ISO_3166-2)).
                          They are required for some countries (e.g. US, MX, CA, AU)
                        type: string
                      street1:
                        description: First address line
                        type: string
                      street2:
                        description: Second address line
                        type: string
                      title:
                        enum:
                          - MR
                          - MISS
                          - MRS
                          - MS
                          - DR
                        type: string
                      warnings:
                        description: Warnings found during address validation
                        readOnly: true
                        type: array
                        items:
                          properties:
                            type:
                              description: Type of warning
                              type: string
                              readOnly: true
                            code:
                              description: Warning code which describe what was suggested by validation
                              type: string
                              readOnly: true
                            path:
                              description: Describes the validation origin of warning
                              type: string
                              readOnly: true
                            message:
                              description: Warning message with suggested change
                              type: string
                              readOnly: true
                      suggested_address:
                        description: Suggested address returned by shipping address validation
                        readOnly: true
                        type: object
                        properties:
                          country_code:
                            description: Suggested country code
                            type: string
                            readOnly: true
                          state_code:
                            description: Suggested state code
                            type: string
                            readOnly: true
                          postcode:
                            description: Suggested postal code
                            type: string
                            readOnly: true
                          city:
                            description: Suggested city
                            type: string
                            readOnly: true
                          street1:
                            description: Suggested first address line
                            type: string
                            readOnly: true
                          street2:
                            description: Suggested second address line
                            type: string
                            readOnly: true
                  currency:
                    description: Currency for the costs
                    readOnly: true
                    type: string
                  line_item_costs:
                    description: List of cost summaries for each line item
                    items:
                      description: Costs for a Print-Job line item
                      properties:
                        cost_excl_discounts:
                          description: Per unit cost without any discounts applied as a decimal string
                          readOnly: true
                          type: string
                        discounts:
                          description: Discounts applied to this line item
                          items:
                            properties:
                              amount:
                                description: The deducted amount as a decimal string
                                readOnly: true
                                type: string
                              description:
                                description: Description of the discount
                                readOnly: true
                                type: string
                            required:
                              - amount
                              - description
                            type: object
                          readOnly: true
                          type: array
                        quantity:
                          description: The quantity of printables to base the calculations on
                          format: int32
                          readOnly: true
                          type: number
                        tax_rate:
                          description: The tax rate applied to the line as a decimal string
                          readOnly: true
                          type: string
                        total_cost_excl_discounts:
                          description: The total line price without any discounts applied as a decimal string
                          readOnly: true
                          type: string
                        total_cost_excl_tax:
                          description: The total line price including discounts excluding tax as a decimal string
                          readOnly: true
                          type: string
                        total_cost_incl_tax:
                          description: The total line price including discounts and taxes as a decimal string
                          readOnly: true
                          type: string
                        total_tax:
                          description: The total line tax amount as a decimal string
                          readOnly: true
                          type: string
                        unit_tier_cost:
                          description: Per unit cost with tier discount applied, null for list price (non-tier) customers
                          readOnly: true
                          type: string
                      required:
                        - quantity
                        - cost_excl_discounts
                        - cost_excl_tax
                        - tax_rate
                        - discounts
                        - total_cost_excl_discounts
                        - total_tax
                        - total_cost_excl_tax
                        - total_cost_incl_tax
                      type: object
                    readOnly: true
                    type: array
                  shipping_cost:
                    description: Summary of the combined shipping and handling costs
                    properties:
                      tax_rate:
                        description: Tax rate that was applied on shipping and handling costs as a decimal string
                        readOnly: true
                        type: string
                      total_cost_excl_tax:
                        description: Total shipping and handling costs excluding taxes as a decimal string
                        readOnly: true
                        type: string
                      total_cost_incl_tax:
                        description: Total shipping and handling costs including taxes as a decimal string
                        readOnly: true
                        type: string
                      total_tax:
                        description: Total amount of taxes on shipping and handling as a decimal string
                        readOnly: true
                        type: string
                    readOnly: true
                    type: object
                  fulfillment_cost:
                    description: Summary of the fulfillment fee costs
                    type: object
                    readOnly: true
                    properties:
                      total_cost_excl_tax:
                        description: Total fulfillment fee costs excluding taxes as a decimal string
                        type: string
                        readOnly: true
                      total_cost_incl_tax:
                        description: Total fulfillment fee costs including taxes as a decimal string
                        type: string
                        readOnly: true
                      total_tax:
                        description: Total amount of taxes on fulfillment fee as a decimal string
                        type: string
                        readOnly: true
                      tax_rate:
                        description: Tax rate that was applied on fulfillment fee costs as a decimal string
                  total_cost_excl_tax:
                    description: Total costs of the job excluding taxes as a decimal string
                    readOnly: true
                    type: string
                  total_cost_incl_tax:
                    description: Total costs of the job including taxes as a decimal string
                    readOnly: true
                    type: string
                  total_discount_amount:
                    description: The total discount amount as a decimal string
                    readOnly: true
                    type: string
                  total_tax:
                    description: Total amount of taxes on the job as a decimal string
                    readOnly: true
                    type: string
                  fees:
                    description: All fees applied to Print Job
                    readOnly: true
                    type: array
                    items:
                      properties:
                        currency:
                          description: Print Job Fee currency
                          type: string
                          readOnly: true
                        fee_type:
                          description: Print Job Fee type
                          type: string
                          readOnly: true
                        sku:
                          description: Print Job Fee unique sku
                          type: string
                          readOnly: true
                        tax_rate:
                          type: string
                          description: The tax rate applied to the fee as a decimal string
                          readOnly: true
                        total_cost_excl_tax:
                          type: string
                          description: The total fee rate excluding tax as a decimal string
                          readOnly: true
                        total_cost_incl_tax:
                          type: string
                          description: The total fee rate including tax as a decimal string
                          readOnly: true
                        total_tax:
                          type: string
                          description: The total fee rate tax amount as a decimal string
                          readOnly: true
                readOnly: true
                required:
                  - shipping_cost
                  - line_item_costs
                  - total_cost_excl_tax
                  - total_cost_incl_tax
                  - total_discount_amount
                  - total_tax
                  - currency
                type: object
              example:
                shipping_address:
                  city: Lübeck
                  country_code: DE
                  is_business: false
                  name: Hans Dampf
                  phone_number: 844-212-0689
                  postcode: '23552'
                  state_code: ''
                  street1: Holstenstr. 40
                  street2: ''
                  warnings:
                    type: validation_warning
                    path: external
                    code: REPLACED
                    message: 'street1: Holstenstr. 40 -> Holstenstraße 40'
                  suggested_address:
                    country_code: DE
                    state_code:
                    postcode: 23552
                    city: Lübeck
                    street1: Holstenstraße 40"
                    street2:
                currency: USD
                fees:
                  - currency: USD
                    fee_type: HANDLING_FEE
                    sku: HANDLING_FEE
                    tax_rate: '0.060000'
                    total_cost_excl_tax: '14.00'
                    total_cost_incl_tax: '14.84'
                    total_tax: '0.84'
                  - currency: USD
                    fee_type: FULFILLMENT_FEE
                    sku: FULFILLMENT_FEE
                    tax_rate: '0.060000'
                    total_cost_excl_tax: '0.75'
                    total_cost_incl_tax: '0.80'
                    total_tax: '0.05'
                fulfillment_cost:
                  tax_rate: '0.06'
                  total_cost_excl_tax: '0.75'
                  total_cost_incl_tax: '0.80'
                  total_tax: '0.05'
                line_item_costs:
                  - cost_excl_discounts: '2.55'
                    discounts: []
                    quantity: 20
                    tax_rate: '0.060000'
                    total_cost_excl_discounts: '51.00'
                    total_cost_excl_tax: '51.00'
                    total_cost_incl_tax: '54.06'
                    total_tax: '3.06'
                    unit_tier_cost:
                  - cost_excl_discounts: '9.26'
                    discounts:
                      - amount: '92.60'
                        description: Volume Discount 5%
                    quantity: 200
                    tax_rate: '0.060000'
                    total_cost_excl_discounts: '1852.00'
                    total_cost_excl_tax: '1759.40'
                    total_cost_incl_tax: '1864.96'
                    total_tax: '105.56'
                    unit_tier_cost:
                shipping_cost:
                  tax_rate: '0.06'
                  total_cost_excl_tax: '318.44'
                  total_cost_incl_tax: '337.55'
                  total_tax: '19.11'
                total_cost_excl_tax: '2129.59'
                total_cost_incl_tax: '2257.37'
                total_discount_amount: '92.60'
                total_tax: '127.78'

          description: Created
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
      security:
        - oauth2: []
      summary: Create a Print-Job cost calculation
      tags:
        - Print-Job Cost Calculations
      x-code-samples:
        - lang: Python
          source: |
            import requests
            import json

            url = "https://api.lulu.com/print-job-cost-calculations/"

            payload = json.dumps({
              "line_items": [
                {
                  "page_count": 32,
                  "pod_package_id": "0600X0900.BW.STD.PB.060UW444.MXX",
                  "quantity": 20
                },
                {
                  "page_count": 324,
                  "pod_package_id": "0425X0687.BW.STD.PB.060UW444.GXX",
                  "quantity": 200
                }
              ],
              "shipping_address": {
                "city": "Washington",
                "country_code": "US",
                "postcode": "20540",
                "state_code": "DC",
                "street1": "101 Independence Ave SE",
                "phone_number": "+1 206 555 0100"
              },
              "shipping_option": "EXPRESS"
            })
            headers = {
              'Authorization': 'Check Authentication menu',
              'Cache-Control': 'no-cache',
              'Content-Type': 'application/json'
            }

            response = requests.request("POST", url, headers=headers, data=payload)

            print(response.text)
        - lang: Ruby
          source: |
            require "uri"
            require "json"
            require "net/http"

            url = URI("https://api.lulu.com/print-job-cost-calculations/")

            https = Net::HTTP.new(url.host, url.port)
            https.use_ssl = true

            request = Net::HTTP::Post.new(url)
            request["Authorization"] = "Check Authentication menu"
            request["Cache-Control"] = "no-cache"
            request["Content-Type"] = "application/json"
            request.body = JSON.dump({
              "line_items": [
                {
                  "page_count": 32,
                  "pod_package_id": "0600X0900.BW.STD.PB.060UW444.MXX",
                  "quantity": 20
                },
                {
                  "page_count": 324,
                  "pod_package_id": "0425X0687.BW.STD.PB.060UW444.GXX",
                  "quantity": 200
                }
              ],
              "shipping_address": {
                "city": "Washington",
                "country_code": "US",
                "postcode": "20540",
                "state_code": "DC",
                "street1": "101 Independence Ave SE",
                "phone_number": "+1 206 555 0100"
              },
              "shipping_option": "EXPRESS"
            })

            response = https.request(request)
            puts response.read_body
        - lang: Node
          source: |
            var request = require('request');
            var options = {
              'method': 'POST',
              'url': 'https://api.lulu.com/print-job-cost-calculations/',
              'headers': {
                'Authorization': 'Check Authentication menu',
                'Cache-Control': 'no-cache',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                "line_items": [
                  {
                    "page_count": 32,
                    "pod_package_id": "0600X0900.BW.STD.PB.060UW444.MXX",
                    "quantity": 20
                  },
                  {
                    "page_count": 324,
                    "pod_package_id": "0425X0687.BW.STD.PB.060UW444.GXX",
                    "quantity": 200
                  }
                ],
                "shipping_address": {
                  "city": "Washington",
                  "country_code": "US",
                  "postcode": "20540",
                  "state_code": "DC",
                  "street1": "101 Independence Ave SE",
                  "phone_number": "+1 206 555 0100"
                },
                "shipping_option": "EXPRESS"
              })

            };
            request(options, function (error, response) {
              if (error) throw new Error(error);
              console.log(response.body);
            });
        - lang: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.post("https://api.lulu.com/print-job-cost-calculations/")
              .header("Authorization", "Check Authentication menu")
              .header("Cache-Control", "no-cache")
              .header("Content-Type", "application/json")
              .body("{\n  \"line_items\": [\n    {\n      \"page_count\": 32,\n      \"pod_package_id\": \"0600X0900.BW.STD.PB.060UW444.MXX\",\n      \"quantity\": 20\n    },\n    {\n      \"page_count\": 324,\n      \"pod_package_id\": \"0425X0687.BW.STD.PB.060UW444.GXX\",\n      \"quantity\": 200\n    }\n  ],\n  \"shipping_address\": {\n    \"city\": \"Washington\",\n    \"country_code\": \"US\",\n    \"postcode\": \"20540\",\n    \"state_code\": \"DC\",\n    \"street1\": \"101 Independence Ave SE\",\n    \"phone_number\": \"+1 206 555 0100\"\n  },\n  \"shipping_option\": \"EXPRESS\"\n}")
              .asString();
        - lang: Javascript
          source: |
            var myHeaders = new Headers();
            myHeaders.append("Authorization", "Check Authentication menu");
            myHeaders.append("Cache-Control", "no-cache");
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({
              "line_items": [
                {
                  "page_count": 32,
                  "pod_package_id": "0600X0900.BW.STD.PB.060UW444.MXX",
                  "quantity": 20
                },
                {
                  "page_count": 324,
                  "pod_package_id": "0425X0687.BW.STD.PB.060UW444.GXX",
                  "quantity": 200
                }
              ],
              "shipping_address": {
                "city": "Washington",
                "country_code": "US",
                "postcode": "20540",
                "state_code": "DC",
                "street1": "101 Independence Ave SE",
                "phone_number": "+1 206 555 0100"
              },
              "shipping_option": "EXPRESS"
            });

            var requestOptions = {
              method: 'POST',
              headers: myHeaders,
              body: raw,
              redirect: 'follow'
            };

            fetch("https://api.lulu.com/print-job-cost-calculations/", requestOptions)
              .then(response => response.text())
              .then(result => console.log(result))
              .catch(error => console.log('error', error));
        - lang: cURL
          source: |
            curl --location 'https://api.lulu.com/print-job-cost-calculations/' \
            --header 'Authorization: Check Authentication menu' \
            --header 'Cache-Control: no-cache' \
            --header 'Content-Type: application/json' \
            --data '{
              "line_items": [
                {
                  "page_count": 32,
                  "pod_package_id": "0600X0900.BW.STD.PB.060UW444.MXX",
                  "quantity": 20
                },
                {
                  "page_count": 324,
                  "pod_package_id": "0425X0687.BW.STD.PB.060UW444.GXX",
                  "quantity": 200
                }
              ],
              "shipping_address": {
                "city": "Washington",
                "country_code": "US",
                "postcode": "20540",
                "state_code": "DC",
                "street1": "101 Independence Ave SE",
                "phone_number": "+1 206 555 0100"
              },
              "shipping_option": "EXPRESS"
            }'

  /print-jobs/:
    get:
      description: |
        Use this request to show a list of Print-Jobs. The list is paginated
        and can be filtered by various attributes that are given as query parameters.

        Timestamps like `created_after`, `created_before`, `modified_after`, and `modified_before`
        can be entered as [ISO8601 datetime strings](https://www.w3.org/TR/NOTE-datetime).

        Internally, the Lulu API uses [Coordinated Universal Time (UTC)](https://en.wikipedia.org/wiki/Coordinated_Universal_Time).
        The following formats are valid:
          * `2017-11-09` (date only)
          * `2017-11-09T09:30` (datetime with minute precision)
          * `2017-11-09T09:30:08` (datetime with second precision)
          * `2017-11-09T09:30:08Z` (UTC datetime)
          * `2017-11-09T09:30:08+06:00` (datetime with offset)

        To filter Print-Jobs by status you can use any valid status string
        (`CREATED`, `REJECTED`, `UNPAID`, `PAYMENT_IN_PROGRESS`, `PRODUCTION_READY`,
        `PRODUCTION_DELAYED`, `IN_PRODUCTION`, `ERROR`, `SHIPPED`, `CANCELED`).
        `PAYMENT_IN_PROGRESS` and `PRODUCTION_READY` are rather short-lived
        states that exist only for a few minutes at max; filtering by these status
        will rarely yield any results.
      operationId: Print-Jobs_list
      parameters:
        - description: 'Result page, default: 1'
          in: query
          name: page
          schema:
            type: integer
        - description: The default is 100.
          in: query
          name: page_size
          schema:
            type: integer
        - description: Filter by creation timestamp after the given ([ISO 8601](https://www.w3.org/TR/NOTE-datetime)) timestamp.
          in: query
          name: created_after
          required: false
          schema:
            type: string
        - description: Filter by creation timestamp before the given ([ISO 8601](https://www.w3.org/TR/NOTE-datetime)) timestamp.
          in: query
          name: created_before
          required: false
          schema:
            type: string
        - description: Filter by modification timestamp after the given ([ISO 8601](https://www.w3.org/TR/NOTE-datetime))
            timestamp.
          in: query
          name: modified_after
          required: false
          schema:
            type: string
        - description: Filter by modification timestamp before the given ([ISO 8601](https://www.w3.org/TR/NOTE-datetime))
            timestamp.
          in: query
          name: modified_before
          required: false
          schema:
            type: string
        - description: Filter by status
          in: query
          name: status
          required: false
          schema:
            type: string
        - description: Filter by id
          in: query
          name: id
          required: false
          schema:
            type: string
        - description: Filter by order_id
          in: query
          name: order_id
          required: false
          schema:
            type: string
        - description: Leave the list of line_items out of the Print-Jobs in the response.
          in: query
          name: exclude_line_items
          required: false
          schema:
            type: boolean
        - description: Search across the fields `id`, `external_id`, `order_id`, `status`, `line_item_id`, `line_item_external_id`,
            `line_item_title`, `line_item_tracking_id` and `shipping_address`
          in: query
          name: search
          required: false
          schema:
            type: string
        - description: Which field to use when ordering the results.
          in: query
          name: ordering
          required: false
          schema:
            type: string
      responses:
        200:
          content:
            application/json:
              schema:
                properties:
                  count:
                    example: 1
                    type: integer
                  next:
                    example: https://api.lulu.com/resources/?page=1&page_size=1
                    type: string
                  previous:
                    example: https://api.lulu.com/resources/?page=1&page_size=1
                    type: string
                  results:
                    items:
                      description: The job resource that represents a print order
                      properties:
                        contact_email:
                          description: |
                            Email address that should be contacted if
                            questions regarding the Print-Job arise. Lulu recommends
                            to use the email of a person who is responsible for placing
                            the Print-Job like a developer or business owner.
                          format: email
                          type: string
                        costs:
                          description: Summary of the costs of a Print-Job
                          properties:
                            line_item_costs:
                              description: Costs for a Print-Job line item
                              properties:
                                cost_excl_discounts:
                                  description: Per unit cost without any discounts applied as a decimal string
                                  readOnly: true
                                  type: string
                                discounts:
                                  description: Discounts applied to this line item
                                  items:
                                    properties:
                                      amount:
                                        description: The deducted amount as a decimal string
                                        readOnly: true
                                        type: string
                                      description:
                                        description: Description of the discount
                                        readOnly: true
                                        type: string
                                    required:
                                      - amount
                                      - description
                                    type: object
                                  readOnly: true
                                  type: array
                                quantity:
                                  description: The quantity of printables to base the calculations on
                                  format: int32
                                  readOnly: true
                                  type: number
                                tax_rate:
                                  description: The tax rate applied to the line as a decimal string
                                  readOnly: true
                                  type: string
                                total_cost_excl_discounts:
                                  description: The total line price without any discounts applied as a decimal string
                                  readOnly: true
                                  type: string
                                total_cost_excl_tax:
                                  description: The total line price including discounts excluding tax as a decimal string
                                  readOnly: true
                                  type: string
                                total_cost_incl_tax:
                                  description: The total line price including discounts and taxes as a decimal string
                                  readOnly: true
                                  type: string
                                total_tax:
                                  description: The total line tax amount as a decimal string
                                  readOnly: true
                                  type: string
                                unit_tier_cost:
                                  description: Per unit cost with tier discount applied, null for list price (non-tier) customers
                                  readOnly: true
                                  type: string
                              required:
                                - quantity
                                - cost_excl_discounts
                                - cost_excl_tax
                                - tax_rate
                                - discounts
                                - total_cost_excl_discounts
                                - total_tax
                                - total_cost_excl_tax
                                - total_cost_incl_tax
                              type: object
                            currency:
                              description: Currency for the costs
                              readOnly: true
                              type: string
                            shipping_cost:
                              description: Summary of the combined shipping and handling costs
                              properties:
                                tax_rate:
                                  description: Tax rate that was applied on shipping and handling costs as a decimal string
                                  readOnly: true
                                  type: string
                                total_cost_excl_tax:
                                  description: Total shipping and handling costs excluding taxes as a decimal string
                                  readOnly: true
                                  type: string
                                total_cost_incl_tax:
                                  description: Total shipping and handling costs including taxes as a decimal string
                                  readOnly: true
                                  type: string
                                total_tax:
                                  description: Total amount of taxes on shipping and handling as a decimal string
                                  readOnly: true
                                  type: string
                              readOnly: true
                              type: object
                            fulfillment_cost:
                              description: Summary of the fulfillment fee costs
                              type: object
                              readOnly: true
                              properties:
                                total_cost_excl_tax:
                                  description: Total fulfillment fee costs excluding taxes as a decimal string
                                  type: string
                                  readOnly: true
                                total_cost_incl_tax:
                                  description: Total fulfillment fee costs including taxes as a decimal string
                                  type: string
                                  readOnly: true
                                total_tax:
                                  description: Total amount of taxes on fulfillment fee as a decimal string
                                  type: string
                                  readOnly: true
                                tax_rate:
                                  description: Tax rate that was applied on fulfillment fee costs as a decimal string
                            fees:
                              description: All fees applied to Print Job
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  currency:
                                    description: Print Job Fee currency
                                    type: string
                                    readOnly: true
                                  fee_type:
                                    description: Print Job Fee type
                                    type: string
                                    readOnly: true
                                  sku:
                                    description: Print Job Fee unique sku
                                    type: string
                                    readOnly: true
                                  tax_rate:
                                    type: string
                                    description: The tax rate applied to the fee as a decimal string
                                    readOnly: true
                                  total_cost_excl_tax:
                                    type: string
                                    description: The total fee rate excluding tax as a decimal string
                                    readOnly: true
                                  total_cost_incl_tax:
                                    type: string
                                    description: The total fee rate including tax as a decimal string
                                    readOnly: true
                                  total_tax:
                                    type: string
                                    description: The total fee rate tax amount as a decimal string
                                    readOnly: true
                            total_cost_excl_tax:
                              description: Total costs of the job excluding taxes as a decimal string
                              readOnly: true
                              type: string
                            total_cost_incl_tax:
                              description: Total costs of the job including taxes as a decimal string
                              readOnly: true
                              type: string
                            total_tax:
                              description: Total amount of taxes on the job as a decimal string
                              readOnly: true
                              type: string
                          readOnly: true
                          type: object
                        estimated_shipping_dates:
                          description: The estimated ship and delivery dates for a Print-Job
                          properties:
                            arrival_max:
                              description: |
                                The slowest estimated delivery date for
                                a Print-Job in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601))
                                format
                              readOnly: true
                              type: string
                            arrival_min:
                              description: |
                                The fastest estimated delivery date for
                                a Print-Job in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601))
                                format
                              readOnly: true
                              type: string
                            dispatch_max:
                              description: |
                                The slowest estimated ship date for a Print-Job
                                in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601))
                                format
                              readOnly: true
                              type: string
                            dispatch_min:
                              description: |
                                The fastest estimated ship date for a Print-Job
                                in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601))
                                format
                              readOnly: true
                              type: string
                          readOnly: true
                          type: object
                        external_id:
                          description: |
                            Arbitrary string to identify and connect a
                            print job to your systems. Set it to an order number,
                            a purchase order or whatever else works for your particular
                            use case.
                          type: string
                        id:
                          format: int64
                          readOnly: true
                          type: number
                        line_items:
                          description: The line items of a Print-Job, defining it's Printables and their quantities. The property
                            name 'items' can be used instead.
                          items:
                            description: The line item of a Print-Job, defining it's printable and quantity
                            properties:
                              cover:
                                oneOf:
                                  - properties:
                                      source_md5_sum:
                                        description: A md5 hash of the source file to check it's integrity
                                        type: string
                                      source_url:
                                        description: The url of the source file.
                                        type: string
                                    required:
                                      - source_url
                                    type: object
                                  - description: The url of the interior source file.
                                    type: string
                                    writeOnly: true
                                writeOnly: true
                                description: Shorthand of the cover source definition. If used together with 'interior' ,
                                  it can replace 'printable_normalization', Alternatively to both options, a 'printable_id'
                                  of an existing printable can be provided.
                              external_id:
                                description: Arbitrary string to identify and connect a print job to your systems. Set it
                                  to an order number, a purchase order or whatever else works for your particular use case
                                type: string
                              id:
                                format: int64
                                readOnly: true
                                type: number
                              interior:
                                oneOf:
                                  - properties:
                                      source_md5_sum:
                                        description: A md5 hash of the source file to check it's integrity
                                        type: string
                                      source_url:
                                        description: The url of the source file.
                                        type: string
                                    required:
                                      - source_url
                                    type: object
                                  - description: The url of the interior source file.
                                    type: string
                                    writeOnly: true
                                writeOnly: true
                                description: Shorthand of the interior source definition. If used together with 'cover' ,
                                  it can replace 'printable_normalization'. Alternatively to both options, a 'printable_id'
                                  of an existing printable can be provided.
                              page_count:
                                description: The page count of the printable
                                format: int32
                                readOnly: true
                                type: number
                              pod_package_id:
                                description: The id of the PodPackage of the printable of this line item
                                maxLength: 100
                                type: string
                              printable_id:
                                description: Id of the Printable of of this line item. It can be used instead of 'printable_normalization'
                                  / 'interior' / 'cover'
                                format: uuid
                                type: string
                              printable_normalization:
                                description: Represents the normalization processes of the interior and cover source files.
                                  Alternatively, 'interior' and 'cover' can be set as a shorthand for creation or a 'printable_id'
                                  of an existing printable can be provided.
                                properties:
                                  cover:
                                    properties:
                                      job_id:
                                        description: The id of the normalization job (either a InteriorNormalizationJob or
                                          a CoverNormalizationJob)
                                        format: int32
                                        type: number
                                      normalized_file:
                                        description: The resulting normalized file
                                        properties:
                                          file_id:
                                            format: int64
                                            readOnly: true
                                            type: number
                                          filename:
                                            description: Filename of the normalized file
                                            readOnly: true
                                            type: string
                                        readOnly: true
                                        type: object
                                      source_md5_sum:
                                        description: A md5 hash of the source file to check it's integrity
                                        type: string
                                      source_url:
                                        description: The url of the source file.
                                        type: string
                                    required:
                                      - source_url
                                    type: object
                                    description: Represents the normalization process of the cover source files
                                  interior:
                                    properties:
                                      job_id:
                                        description: The id of the normalization job (either a InteriorNormalizationJob or
                                          a CoverNormalizationJob)
                                        format: int32
                                        type: number
                                      normalized_file:
                                        description: The resulting normalized file
                                        properties:
                                          file_id:
                                            format: int64
                                            readOnly: true
                                            type: number
                                          filename:
                                            description: Filename of the normalized file
                                            readOnly: true
                                            type: string
                                        readOnly: true
                                        type: object
                                      source_md5_sum:
                                        description: A md5 hash of the source file to check it's integrity
                                        type: string
                                      source_url:
                                        description: The url of the source file.
                                        type: string
                                    required:
                                      - source_url
                                    type: object
                                    description: Represents the normalization process of the interior source files
                                required:
                                  - interior
                                  - cover
                                type: object
                              quantity:
                                description: Quantity of printed books for this line item
                                format: int32
                                type: number
                              status:
                                default:
                                  messages: {}
                                  name: CREATED
                                description: Status object that contains the actual line item processing status as well as
                                  additional status related data
                                properties:
                                  messages:
                                    description: A map of status related messages / data
                                    properties:
                                      delay:
                                        description: Expected delay in hours for error status'
                                        maxLength: 64
                                        readOnly: true
                                        type: string
                                      error:
                                        description: General status error message
                                        readOnly: true
                                        type: string
                                      info:
                                        description: General info message on the status
                                        readOnly: true
                                        type: string
                                      printable_normalization:
                                        description: A map of printable normalization related messages / data
                                        properties:
                                          cover:
                                            description: Array of messages related to the cover file normalization
                                            items:
                                              readOnly: true
                                              type: string
                                            type: array
                                          interior:
                                            description: Array of messages related to the interior file normalization
                                            items:
                                              readOnly: true
                                              type: string
                                            type: array
                                        readOnly: true
                                        type: object
                                      timestamp:
                                        description: '[ISO 8601](https://www.w3.org/TR/NOTE-datetime)) timestamp of last status
                                          change'
                                        maxLength: 64
                                        readOnly: true
                                        type: string
                                      tracking_urls:
                                        anyOf:
                                          - type: string
                                          - items:
                                              type: string
                                            type: array
                                        description: Tracking url(s)
                                      tracking_id:
                                        description: Tracking id for this line item's shipment
                                        readOnly: true
                                        type: string
                                      carrier_name:
                                        description: Name of the carrier handling shipment
                                        readOnly: true
                                        type: string
                                    readOnly: true
                                    type: object
                                  name:
                                    default: CREATED
                                    description: The actual processing status of the Print-Job.
                                    enum:
                                      - CREATED
                                      - ACCEPTED
                                      - REJECTED
                                      - IN_PRODUCTION
                                      - ERROR
                                      - SHIPPED
                                    type: string
                                readOnly: true
                                required:
                                  - name
                                type: object
                              title:
                                description: The title of the line item. Should be on the cover. This field will become mandatory
                                  on October 1, 2019!
                                maxLength: 255
                                type: string
                              tracking_id:
                                description: Tracking id for this line item's shipment
                                readOnly: true
                                type: string
                              tracking_urls:
                                description: A list of tracking urls for this line item's shipment.
                                items:
                                  type: string
                                readOnly: true
                                type: array
                              carrier_name:
                                description: Name of the carrier handling shipment
                                readOnly: true
                                type: string
                            required:
                              - id
                              - status
                              - quantity
                            type: object
                          type: array
                        order_id:
                          description: Reference to the order, which this PrintJob has created
                          readOnly: true
                          type: string
                        production_delay:
                          default: 60
                          description: Delay before a newly created Print-Job is sent to production. Minimum is 60 minutes,
                            maximum is 2880 minutes (=48 hours). As most cancellation requests occur right after an order
                            has been placed, it makes sense to wait for some time before sending an order to production. Once
                            production has started, orders cannot be canceled anymore.
                          format: int32
                          maximum: 2880
                          minimum: 60
                          type: integer
                        production_due_time:
                          description: Target timestamp of when this job will move into production ([ISO 8601](https://www.w3.org/TR/NOTE-datetime))
                          format: date-time
                          readOnly: true
                          type: string
                        shipping_address:
                          description: The shipping address of the customer.
                          properties:
                            city:
                              type: string
                            country_code:
                              description: '[ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2) country code'
                              maxLength: 2
                              minLength: 2
                              type: string
                            email:
                              format: email
                              type: string
                              description: "Shipping carriers require an email address for notifications or handling delivery
                                issues. If no email is given, the default email in the user profile will be used.\n"
                            is_business:
                              default: false
                              description: Only relevant for US addresses. Some US carriers don't deliver to business-addresses
                                on Saturday.
                              type: boolean
                            name:
                              description: Full name of the person, including first and last name.
                              type: string
                            organization:
                              description: Name of an organization. Required if no person name is given.
                              type: string
                            phone_number:
                              description: "Shipping carriers require a phone number for handling delivery issues. If no phone
                                number is given, the default in the API user profile will be used. Validation Regex Pattern
                                for phone numbers `^\\+?[\\d\\s\\-.\\/()]{8,20}$`\n"
                              maxLength: 20
                              type: string
                            postcode:
                              description: Required for most countries
                              maxLength: 64
                              type: string
                            state_code:
                              description: 2 or 3 letter state codes (officially called [ISO-3166-2 subdivision codes](https://en.wikipedia.org/wiki/ISO_3166-2)).
                                They are required for some countries (e.g. US, MX, CA, AU)
                              type: string
                            street1:
                              description: First address line
                              type: string
                            street2:
                              description: Second address line
                              type: string
                            title:
                              enum:
                                - MR
                                - MISS
                                - MRS
                                - MS
                                - DR
                              type: string
                            warnings:
                              description: Warnings found during address validation
                              readOnly: true
                              type: array
                              items:
                                properties:
                                  type:
                                    description: Type of warning
                                    type: string
                                    readOnly: true
                                  code:
                                    description: Warning code which describe what was suggested by validation
                                    type: string
                                    readOnly: true
                                  path:
                                    description: Describes the validation origin of warning
                                    type: string
                                    readOnly: true
                                  message:
                                    description: Warning message with suggested change
                                    type: string
                                    readOnly: true
                            suggested_address:
                              description: Suggested address returned by shipping address validation
                              readOnly: true
                              type: object
                              properties:
                                country_code:
                                  description: Suggested country code
                                  type: string
                                  readOnly: true
                                state_code:
                                  description: Suggested state code
                                  type: string
                                  readOnly: true
                                postcode:
                                  description: Suggested postal code
                                  type: string
                                  readOnly: true
                                city:
                                  description: Suggested city
                                  type: string
                                  readOnly: true
                                street1:
                                  description: Suggested first address line
                                  type: string
                                  readOnly: true
                                street2:
                                  description: Suggested second address line
                                  type: string
                                  readOnly: true
                          required:
                            - name
                            - street1
                            - city
                            - country_code
                            - postcode
                            - phone_number
                            - email
                          type: object
                        shipping_level:
                          description: The shipping level that this Print-Job is shipped with
                          enum:
                            - MAIL
                            - PRIORITY_MAIL
                            - GROUND_HD
                            - GROUND_BUS
                            - GROUND
                            - EXPEDITED
                            - EXPRESS
                          type: string
                        tax_country:
                          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code
                            of the tax country determined for this job'
                          maxLength: 2
                          readOnly: true
                          type: string
                      required:
                        - id
                        - status
                        - line_items
                        - shipping_address
                        - contact_email
                        - shipping_level
                      type: object
                      example:
                        contact_email: test@test.com
                        costs:
                          line_item_costs:
                          shipping_cost:
                            total_cost_excl_tax: '132.74'
                            total_cost_incl_tax: '132.74'
                            total_tax: '0.00'
                            tax_rate: '0.000000'
                          fulfillment_cost:
                            total_cost_excl_tax: '0.75'
                            total_cost_incl_tax: '0.81'
                            total_tax: '0.06'
                            tax_rate: '0.080000'
                          fees:
                            - currency: USD
                              fee_type: HANDLING_FEE
                              sku: HANDLING_FEE_6
                              tax_rate: '0.088750'
                              total_cost_excl_tax: '4.00'
                              total_cost_incl_tax: '4.36'
                              total_tax: '0.36'
                          total_cost_excl_tax:
                          total_cost_incl_tax:
                          total_tax:
                        date_created: '2017-08-07T08:47:26.485456Z'
                        date_modified: '2017-08-07T08:47:26.485490Z'
                        estimated_shipping_dates:
                          arrival_max: '2017-08-12'
                          arrival_min: '2017-08-10'
                          dispatch_max: '2017-08-09'
                          dispatch_min: '2017-08-07'
                        external_id: demo-time
                        id: 1
                        line_items:
                          - external_id: item-reference-1
                            id: 1
                            printable_id:
                            printable_normalization:
                              cover:
                                job_id:
                                normalized_file:
                                page_count:
                                source_file:
                                source_md5sum: e78512c777e7f5841fe8f1992cefb898
                                source_url: https://www.dropbox.com/sh/p3zh22vzsaegiri/AADP367j0bTWlt8fCu-_tm2ia/161025/139056_cover.pdf?dl=1
                              interior:
                                job_id:
                                normalized_file:
                                page_count:
                                source_file:
                                source_md5sum: 7f8af20c296747689756f8e310135d79
                                source_url: https://www.dropbox.com/sh/p3zh22vzsaegiri/AACOUn3LFKsITDzylh13bQpsa/161025/thesis2.pdf?dl=1
                              pod_package_id: 0600X0900.BW.STD.PB.060UW444.MXX
                            quantity: 20
                            status:
                              messages:
                                info: Line-item is currently being validated
                              name: CREATED
                            title: My Book
                        production_delay: 120
                        production_due_time:
                        shipping_address:
                          city: Lübeck
                          country_code: DE
                          is_business: false
                          name: Hans Dampf
                          phone_number: 844-212-0689
                          postcode: '23552'
                          state_code: ''
                          street1: Holstenstr. 40
                          street2: ''
                          warnings:
                            type: validation_warning
                            path: external
                            code: REPLACED
                            message: 'street1: Holstenstr. 40 -> Holstenstraße 40'
                          suggested_address:
                            country_code: DE
                            state_code:
                            postcode: 23552
                            city: Lübeck
                            street1: Holstenstraße 40"
                            street2:
                        shipping_level: MAIL
                        shipping_option_level: MAIL
                        status:
                          changed: '2017-08-07T08:47:26.480493Z'
                          message: Print-job is currently being validated
                          name: CREATED
                    type: array
          description: OK
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
      security:
        - oauth2: []
      summary: Retrieve a list of Print-Jobs
      tags:
        - Print-Jobs
      x-code-samples:
        - lang: Python
          source: |
            import requests

            url = "https://api.lulu.com/print-jobs/"

            payload = {}
            headers = {
              'Authorization': 'Check Authentication menu',
              'Cache-Control': 'no-cache'
            }

            response = requests.request("GET", url, headers=headers, data=payload)

            print(response.text)
        - lang: Ruby
          source: |
            require "uri"
            require "net/http"

            url = URI("https://api.lulu.com/print-jobs/")

            https = Net::HTTP.new(url.host, url.port)
            https.use_ssl = true

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = "Check Authentication menu"
            request["Cache-Control"] = "no-cache"

            response = https.request(request)
            puts response.read_body
        - lang: Node
          source: |
            var request = require('request');
            var options = {
              'method': 'GET',
              'url': 'https://api.lulu.com/print-jobs/',
              'headers': {
                'Authorization': 'Check Authentication menu',
                'Cache-Control': 'no-cache'
              }
            };
            request(options, function (error, response) {
              if (error) throw new Error(error);
              console.log(response.body);
            });
        - lang: Java
          source: |
            Unirest.setTimeouts(0, 0);
            HttpResponse<String> response = Unirest.get("https://api.lulu.com/print-jobs/")
              .header("Authorization", "Check Authentication menu")
              .header("Cache-Control", "no-cache")
              .asString();
        - lang: Javascript
          source: |
            var myHeaders = new Headers();
            myHeaders.append("Authorization", "Check Authentication menu");
            myHeaders.append("Cache-Control", "no-cache");

            var requestOptions = {
              method: 'GET',
              headers: myHeaders,
              redirect: 'follow'
            };

            fetch("https://api.lulu.com/print-jobs/", requestOptions)
              .then(response => response.text())
              .then(result => console.log(result))
              .catch(error => console.log('error', error));
        - lang: cURL
          source: |
            curl --location 'https://api.lulu.com/print-jobs/' \
            --header 'Authorization: Check Authentication menu' \
            --header 'Cache-Control: no-cache'
    post:
      description: |
        Print-Jobs are the core resource of the Print API. A Printjob
        consists of line items, shipping information and some additional metadata.

        ## Elements of a Print-Job

        ### Line Items

        A line item represents a book that should be printed or in short a **printable**.
        Printables consist of cover and interior files as well as a `pod_package_id`.
        The `pod_package_id` represents the manufacturing options; see the ["Select
        a product"](#section/Select-a-Product) section for details. Each printable
        can be identified by an immutable `printable_id`. The `printable_id` can be
        used for re-orders so that the files don''t have to be transferred again.

        #### Linen Wrap Foil

        Foil stamping is available on Linen Wrap books, and printed on the spine of the book, not the accompanying dust jacket.
        Text is entered into both the `foil_stamp_title_text` and `foil_stamp_author_text`. Combined, two fields comprising of the foil stamp text cannot exceed 42 characters.

        Lulu's foil stamping supports the following characters:
          * Roman Character sets (A-Z, a-z, 0-9)
          * [];',./!`^&*()~+=:?"]ˇ˘°´¨¸¯- ØŁ
          * ÀÁÃĀÄĂĆČÇĎÈÉËĒĔĚĞÌÍĨÏĪĬĽĹÑŃŇÒÓÕÖŌŎŔŘŚŞŠŢŤÙÚŨŪÜŬÝŸŹŽ
          * àáãäāăćčçďèéëēĕěğìíĩïīĭľĺñńňòóõöōŏŕřśşšţťùúũūüŭýÿźž

        Unsupported characters:
          - all non-roman character sets (Cyrillic, Arabic, Hebrew, Farsi, Chinese, Japanese, Thai, etc.), and the underscore character (_) are not supported.

        Your linen and foil stamping color selections should be included at the end of your SKU using the following letters to indicate color, with the linen option first and the foil stamping option last:

        * Linen:
          * Navy: N
          * Gray: G
          * Red: R
          * Black: B
          * Tan: T
          * Forest: F

        * Foil:
          * Gold: G
          * Black: B
          * White: W

        For example: 0600X0900.BW.STD.PB.060UW444.M**NG**

        ### Shipping Information & Metadata

        Print-Jobs have to contain a `shipping_address` as well as a `shipping_level`.
        Lulu offers five different service levels that differ in speed and traceability.

        ### Additional Metadata

        A few additional metadata fields can be specified in the Print-Job as well:

        * `contact_email` for questions related to the Print-Job itself

        * `production_delay` allows you to specify a delay (between 60 minutes and
        2,880 minutes) before the Print-Job goes to production.

        * `external_id` allows you to link the Print-Job to an internal order number
        or other reference.

        * `recipient_tax_id` is required for shipping addresses to Brazil, Chile, and Mexico.
        This field holds the recipient's tax identification number (CPF/CNPJ for Brazil, RUT for Chile, and RFC for Mexico).
        The tax ID can be provided in formatted form (with dots, dashes, or slashes), but will be standardized to a compact version
        without separators (e.g., "12.345.678/0001-90" will be converted to "12345678000190") for further processing.

        For shipping addresses in the following countries, the recipient_tax_id can be provided, but no validation will be applied:
        AF, DZ, BS, BH, BJ, BT, BA, BW, BF, BI, CV, KH, CM, CF, TD, KM, CG, CD, CI, DJ, DM, GQ, ER, SZ, ET, FJ, GA, GM, GD, GN, GW, HT, HN, IR, IQ,
        JO, KI, KP, LA, LB, LS, LR, LY, MG, MW, MV, ML, MH, FM, MN, MZ, MM, NA, NR, NP, NE, OM, PW, PG, QA, RW, KN, LC, SN, SL, SB, SO, SS, SD, SR,
        SY, TZ, TG, TO, TL, UG, VA, ZM, ZW.

        ## File Handling and Normalization

        Interior and cover files have to be specified with a URL from which Lulu can
        download the files. Using encoded [basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication#URL_encoding)
        in the URL is ok. All files processed by Lulu will be validated and normalized
        before sending them to production. If problems with the file occur, the PrintJob
        will be rejected or cancelled and an error message will be displayed.

        ## Automation and Payment

        After a Print-Job has been created successfully, it will remain in an `UNPAID`
        state until it is paid for through the developer portal. However, you can
        automate the process by putting a credit card on file. Then, the Print-Job
        will automatically transition to the `PRODUCTION_DELAY` status and your card
        will charged when the Print-Job is sent to production.


      operationId: Print-Jobs_create
      requestBody:
        content:
          application/json:
            schema:
              description: The job resource that represents a print order
              properties:
                contact_email:
                  description: "Email address that should be contacted if questions regarding the Print-Job arise. Lulu recommends
                    to use the email of a person who is responsible for placing the Print-Job like a developer or business
[...]
